<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<!-- <script src="js/jquery-1.6.2.min.js" type="text/javascript"></script>
<script src="js/jquery-ui-1.8.16.custom.min.js" type="type/javascript"></script>
<script src="js/ui/jquery.ui.draggable.js" type="type/javascript"></script> -->



	<% include partials/sidebar %>
<!-- <body> -->

<!-- <% include partials/menu %> -->
<!-- <div class="container-fluid bg-3"> -->
  <!-- <h3><%= page %></h3><br> -->
  <!-- <div class="row"> -->
    <!-- <div class="col-sm-4"> -->
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->

    <!-- </div> -->
    <!-- <div class="col-sm-4">  -->
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
    <!-- </div> -->
    <!-- <div class="col-sm-4">  -->
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->
<!-- </body> -->
<% include partials/script %>

</html>
