<body style="width:100wh">






    <div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-md-4 col-lg-12">
				<div class="row h-100 contx">
					<div class="side">
            <div id="logo" class="logo"></div>
						<div class="panel side-panel-default">
							<div class="side-panel-heading">
								<h1 class="panel-title">Drag & Drop Streamer</h1>
							</div>
							<div id="containerside" class="panel-body box-container">
							  <input id="myInput" type="text" placeholder="Streamer suchen.">

							</div>
						</div>
					</div>
          <div class="main">
              <div class="cont">
                <div class="drop right" side="right"></div>
                <div class="drop left" side="left"></div>
                <div class="drop top" side="top"></div>
                <div class="drop bottom" side="bottom"></div>
                <!-- <div class="drop center" side="center"></div> -->
              </div>
            </div>
					</div>
				</div>
			</div>
		</div>
</body>
