<body style="width:100wh">






    <div class="container-fluid h-100">
		<div class="row h-100">
			<div class="col-md-4 col-lg-12">
				<div class="row h-100 contx">
					<div class="side">
            <div id="logo" class="logo"></div>
						<div class="panel side-panel-default">
							<div class="side-panel-heading">
								<h1 class="panel-title">  </h1>
							</div>
              <input id="myInput" type="text" placeholder="Suchen..">
							<div id="containerside" class="panel-body box-container">


							</div>
						</div>
            <div id="footer" class="footer"></div>
					</div>
          <div class="main">
            <div id="tabs">
              <ul>
                <li><a href="#tabs-1">Gruppe A</a></li>
                <li><a href="#tabs-2">Gruppe B</a></li>
                <li><a href="#tabs-3">Gruppe C</a></li>
                <li><a href="#tabs-4">Home</a></li>
              </ul>
              <div id="tabs-1">
                <div class="cont">
                  <div class="drop center" side="right"></div>
                </div>
              </div>
              <div id="tabs-2">
                <div class="cont">
                  <div class="drop center" side="right"></div>
                </div>
              </div>
              <div id="tabs-3">
                <div class="cont">
                  <div class="drop center" side="right"></div>
                </div>
              </div>
              <div id="tabs-4">
                <p>Home text.</p>
              </div>
            </div>

            </div>
					</div>
				</div>
			</div>
		</div>
</body>
