<body style="width: 100wh;">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-4 col-lg-12">
        <div class="row h-100 contx">
          <div class="side">
            <div id="logo" class="logo"></div>
            <div class="panel side-panel-default">
              <div class="side-panel-heading">
                <h1 class="panel-title"></h1>
              </div>
              <input id="myInput" type="text" placeholder="Suchen.." />
              <div id="containerside" class="panel-body box-container"></div>
            </div>
            <div id="footer" class="footer"></div>
          </div>
          <div class="main">
            <div id="tabs">
              <ul>
                <li><a href="#tabs-1">Gruppe A</a></li>
                <li><a href="#tabs-2">Gruppe B</a></li>
                <li><a href="#tabs-3">Gruppe C</a></li>
                <li><a href="#tabs-4">Community</a></li>
              </ul>
              <div id="tabs-1" class="drp">
                <div class="cont">
                  <div class="drop center" side="right"></div>
                </div>
              </div>
              <div id="tabs-2" class="drp">
                <div class="cont">
                  <div class="drop center" side="right"></div>
                </div>
              </div>
              <div id="tabs-3" class="drp">
                <div class="cont">
                  <div class="drop center" side="right"></div>
                </div>
              </div>
              <div id="tabs-4">
                <!-- <h1>Community Hub</h1>
                <br>
                <h4>Automatisierte Clips</h4>
                <ul>
                  <li>Instant Clip erschaffung</li>
                  <li>Instant archivierung</li>
                  <li>Instant Interaktion wie:</li>
                  <ul>
                    <li>Liken</li>
                    <li>Kommentieren</li>
                    <li>Downloaden</li>
                    <li>Gif mit Sound konvertieren</li>
                  </ul>
                </ul>
                <br>
                <h4>Zuschauer Integration</h4>
                <ul>
                  <li>Echtzeit Action-meter für jeden Streamer</li>
                  <li>Echtzeit Abstimmungen</li>
                  <li>Echtzeit Events</li>
                </ul>
                <br>
                <h4>Experimentelle Ideen</h4> -->

                <!-- <p>Suro: Schw&auml;chen L&ouml;sung.</p> -->
                <div class="textcont">
                  <h1>St&auml;rken &amp; Schw&auml;chen</h1>
                  <p>
                    Die erste Staffel von Suro ist rum, mit der Suro-Community
                    Webseite habe ich die Zuschauerzahlen &uuml;ber die gesamten
                    10 Tage getrackt, und eine Peak-Summe aus allen Streams von
                    ~+100K Zuschauern aufgenommen. Diese Zahlen f&uuml;r ein
                    Piloten-Projekt sind schon wirklich ein wahnsinn. Dadurch,
                    dass es sich um die erste Staffel handelt und wie zu
                    erwarten es start-Schwierigkeiten gab, ergibt sich eine
                    Menge Potenzial zur Verbesserung.
                  </p>
                  <p>
                    Z&auml;hlen wir die <strong>Schwierigkeiten</strong> auf und
                    finden dazu passende
                    <strong>L&ouml;sungsm&ouml;glichkeiten</strong>:
                  </p>
                  <ul>
                    <li>
                      Das gehetzte, m&ouml;glichst schnelle &ouml;ffnen der
                      Streams wenn Action da ist
                    </li>
                    <li>
                      Technische Probleme, die den Flow des Moderators (Unge)
                      unterbrechen
                    </li>
                    <li>Die Imbalance von PVP &amp; RP</li>
                    <li>Zu viel Action auf einmal</li>
                    <li>
                      Unbefriedigende Ausscheidungen durch langweilige-Tode wie
                      z.B. runterfallen
                    </li>
                  </ul>
                  <p>&nbsp;</p>
                  <h1>L&ouml;sungen.</h1>
                  <p>
                    Nat&uuml;rlich kann jeder einfach auf die Probleme zeigen
                    und erwarten, dass diese dann von jemand anderem gel&ouml;st
                    werden sollen. Aber nein. Hier sind meine
                    L&ouml;sungsans&auml;tze zu jedem Punkt.
                  </p>
                  <!-- <p>&nbsp;</p> -->
                  <ul>
                    <p>&nbsp;</p>
                    <li>
                      <strong>Verpassen von Live-Action</strong>
                      <ul>
                        <li>
                          Hierf&uuml;r habe ich eine Community Website erstellt.
                          <ul>
                            <li>
                              Mit einem Moderator-Dashboard in dem es
                              m&ouml;glich ist aus einer Liste der aktuellen
                              lebenden/live Streamer per Drag &amp; Drop ein
                              Multi-View-Dashboard in Echtzeit zu erstellen.
                            </li>
                            <li>
                              Dieser ist in 3 Tabs unterteilt, damit man mehrere
                              Gruppen mit mehreren Sichten beobachten kann.
                            </li>
                            <li>
                              Dadurch, dass es sich um <em>embedded</em> Streams
                              handelt, gibt es keine Werbung. Ein wichtiger
                              Aspekt f&uuml;r den Moderator.
                            </li>
                            <li>
                              Da ich noch keine Domain kaufen kann im Moment,
                              ist diese Seite nur &uuml;ber den
                              <strong>Webhoster-Link </strong>
                              <ul>
                                <li>
                                  <a
                                    href="https://peaceful-ravine-24049.herokuapp.com/"
                                    >https://peaceful-ravine-24049.herokuapp.com/</a
                                  >
                                </li>
                                <li>
                                  Heroku ist der Webhoster, der mit kostenlos
                                  erm&ouml;glicht meine Serverseitigen daten von
                                  Twitch und YouTube zu laden.
                                </li>
                              </ul>
                            </li>
                            <li>
                              Es k&ouml;nnen sofort
                              <strong>Clips generiert</strong> werden, in dem
                              man unten rechts im Twitch-Player auf die
                              Filmklappe dr&uuml;ckt.
                              <ul>
                                <li>
                                  Dies k&ouml;nnte sogar in Verbindung mit dem
                                  Minecraft-Server-Team automatisiert werden.
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <!-- <p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p> -->
                  <ul>
                    <p>&nbsp;</p>
                    <li>
                      <strong
                        >Technische Probleme &amp; Flow-Unterbrechung.</strong
                      >
                    </li>
                  </ul>
                  <ul>
                    <li>
                      Wir wissen Unge, dass du es nur gut meinst, indem du dich
                      dauerhaft f&uuml;r jeden Pups entschuldigst. Und wir
                      wissen, dass Probleme bei so einem gro&szlig;en Projekt
                      unvermeidbar sind.
                      <ul>
                        <li>
                          Dennoch w&auml;re es f&uuml;r alle beteiligten ein
                          <em>ungeheurer</em> gr&ouml;&szlig;erer spa&szlig;,
                          wenn du diese knappe Goldene Stunde zu 100% den
                          Teilnehmern widmen w&uuml;rdest.
                        </li>
                        <li>
                          Sollte es zu kleinen Problemen kommen, w&auml;re es
                          gut, wenn sich ein Team im Hintergrund darum
                          k&uuml;mmern w&uuml;rde. Und du kannst w&auml;hrend
                          dessen mit dem Multi Viewer in die Streams
                          reinschauen. Denn dies ist wesentlich interessanter,
                          als das du nur in der Welt rumschwebst und nichts
                          passiert.
                        </li>
                      </ul>
                    </li>
                    <li>
                      Ein ununterbrochener Stream <em>mit flow</em> hat mehr
                      Unterhaltungspotenzial.
                    </li>
                  </ul>
                  <ul>
                    <p>&nbsp;</p>
                    <li><strong>Imbalance von PVP &amp; RP</strong></li>
                  </ul>
                  <!-- <p><strong>&nbsp;</strong></p>  breaks-->
                  <ul>
                    <li>
                      L&ouml;sungsm&ouml;glichkeit f&uuml;r den geringen
                      <strong>RP-Aspekt</strong> im Projekt.
                      <ul>
                        <li>
                          Das Projekt ist noch dem konventionellem &bdquo;Battle
                          Royale&ldquo; viel zu nahe. Minecraft bietet nahezu
                          unendlich Mechaniken diesen <em>dullen</em> Spielmodus
                          zu verbessern.
                          <ul>
                            <li>
                              Der Kreative Aspekt des Bauens/Handelns und
                              Trollens muss genutzt werden.
                            </li>
                          </ul>
                        </li>
                        <li>
                          Wir lassen die Roleplayer auf ihre kosten kommen,
                          indem wir die ersten 3 Tage/Stunden wie einen
                          regul&auml;ren Minecraft Server starten.
                          <ul>
                            <li>
                              <strong>BEDINGUNGEN</strong>:
                              <ul>
                                <li>
                                  <strong>Sterben </strong>hab die normale
                                  Konsequenz.
                                  <strong
                                    >Kein Ausschluss aus dem Projekt</strong
                                  >!
                                </li>
                                <li>
                                  <strong>Regeneration</strong> ist auf
                                  <strong>Hardcore</strong>
                                </li>
                                <li>
                                  <strong>PVP/Monster</strong> sind an, jedoch
                                  <strong>ohne die Konsequenz</strong> des
                                  Ausschlie&szlig;ens!
                                </li>
                              </ul>
                            </li>
                            <li>
                              In dieser Phase sollen sich Freundschaften/<strong
                                >St&auml;dte</strong
                              >
                              und Fraktionen bilden.
                            </li>
                            <li>
                              Die Spieler k&ouml;nnen sich auf den zweiten
                              <strong>&bdquo;PVP&ldquo;-Abschnitt</strong> des
                              Projekts <strong>vorbereiten</strong>.
                            </li>
                            <li>
                              Sie k&ouml;nnen ihr Dorf oder ihre Burg bauen um
                              sich vor den anderen Fraktionen zu sch&uuml;tzen.
                            </li>
                            <li>
                              Das <strong>Bauen soll</strong> stark
                              <strong>erleichtert</strong> werden, damit wir
                              auch sch&ouml;ne Sachen am ende des Projekts
                              stehen haben. Dies tun wir durch ein Zentrales
                              Dorf. Wo man z.B. mit Dorfbewohnern Cobblestone 1
                              zu 1 mit sch&ouml;neren Bl&ouml;cken zum Bauen
                              austauschen kann, ohne dass durch diese ein
                              Vorteil verschafft werden kann. Z.B. Quartz,
                              welches sehr sch&ouml;n ist, sehr lange dauert zum
                              farmen und trotzdem kein Vorteil im PVP bringt.
                            </li>
                          </ul>
                        </li>
                        <li>
                          Vergleichbar mit dem Fallschirmsprung und dem
                          ausr&uuml;sten im BattleRoyale
                        </li>
                      </ul>
                    </li>
                  </ul>

                  <ul>
                    <p>&nbsp;</p>
                    <li>
                      L&ouml;sungsm&ouml;glichkeit f&uuml;r den Interessanten
                      Actionreichen <strong>PVP-Aspekt</strong>.
                      <ul>
                        <li>
                          Jedes Roleplay-Universum hat eine Grundlage. In diesem
                          Projekt ist die Grundlage, dass Familie, die die einem
                          am n&auml;chsten stehen im Dorf, das wichtigste ist.
                          Und man m&ouml;chte mit dieser auch am l&auml;ngsten
                          im Projekt verweilen.
                          <ul>
                            <li>
                              Die Spieler sollen im Sinne des RPs auch wirklich
                              Roleplayen und ihren Fraktion-/Stadt-Mitspielern
                              helfen! Denn Familie wird immer &uuml;ber das wohl
                              aller Menschen gesetzt!
                            </li>
                            <li>
                              B. Bergi, &uuml;berleg doch mal! In der
                              Realit&auml;t w&uuml;rde ein Separatist/Terrorist
                              der um sein Leben k&auml;mpft auch keine Gnade
                              haben, egal wie sehr du ihn um Frieden bittest! In
                              diesem Projekt sollte auch jeder diese
                              RolePlay-Vorgabe beachten und gerecht dazu
                              spielen.
                            </li>
                          </ul>
                        </li>
                        <li>
                          Wir m&uuml;ssen irgendwie daf&uuml;r sorgen, dass es
                          <strong>ab dem vierten Tag</strong> einen Grund zum
                          T&ouml;ten &amp; K&auml;mpfen gibt um die Action ins
                          Roleplay zu initiieren.
                          <ul>
                            <li>Hier kommen die PVPler auf ihre Kosten.</li>
                            <li>
                              Das tun wir, indem wir einer geringen Menge an
                              Spielern zuf&auml;llig oder gezielt einen Virus
                              geben.
                            </li>
                            <li>
                              Es werden z.B. 5 Spieler
                              &bdquo;<strong>Blutr&uuml;nstig</strong>&ldquo;,
                              dass hei&szlig;t
                              <ul>
                                <li>
                                  Sie bekommen das Verlangen zu t&ouml;ten.
                                </li>
                                <li>
                                  Sie sterben &amp;
                                  <strong>scheiden aus</strong> dem Projekt aus
                                  <ul>
                                    <li>
                                      wenn sie in der Aktuellen Stunde nicht
                                      mindestens
                                      <strong
                                        >einen anderen Blutr&uuml;nstigen
                                        Spieler t&ouml;ten
                                      </strong>
                                    </li>
                                    <li>
                                      oder <strong>durch</strong> einen
                                      <strong>Blutr&uuml;nstigen Sterben</strong
                                      >.
                                    </li>
                                  </ul>
                                </li>
                                <li>
                                  <strong
                                    >Was hat dieser Effekt zur Folge</strong
                                  >?
                                  <ul>
                                    <li>
                                      Naja, eine betroffene Fraktion wird nicht
                                      ihre Mitspieler verlieren wollen,
                                      hei&szlig;t
                                      <ul>
                                        <li>
                                          Sie mobilisieren sich als Gruppe und
                                          dringen in andere Fraktionen ein.
                                        </li>
                                        <li>
                                          Sie helfen ihrem Blutr&uuml;nstigen
                                          die gegnerischen Blutr&uuml;nstigen
                                          auszuschalten.
                                        </li>
                                      </ul>
                                    </li>
                                    <li>
                                      Es gibt
                                      <strong
                                        >jeden Tag mindestens 5
                                        Blutr&uuml;nstige</strong
                                      >
                                      <ul>
                                        <li>
                                          Wenn aus dem Vortag 3/5 gestorben
                                          seien sollen, werden im aktuellen Tag
                                          3 neue Teilnehmer Blutr&uuml;nstig.
                                        </li>
                                        <li>
                                          Hiermit l&auml;sst sich das Ma&szlig;
                                          an Action regulieren.
                                          <ul>
                                            <li>
                                              Die geringe Anzahl an betroffenen
                                              Teilnehmer kann man sehr gut im
                                              Moderator-Dashboard beobachten,
                                              und wenn n&ouml;tig in Gruppen
                                              unterteilen.
                                            </li>
                                          </ul>
                                        </li>
                                        <li>
                                          Offline Spieler werden automatisch
                                          Blutr&uuml;nstig damit diese keine
                                          Vorteile durchs Fernbleiben haben.
                                          Wenn sie Blutr&uuml;stig geworden
                                          &amp; offline sind, werden sie
                                          h&ouml;hst wahrscheinlich an dem Tag
                                          sterben, da sie nicht die Bedingung
                                          des T&ouml;tens erf&uuml;llen
                                          k&ouml;nnen.
                                        </li>
                                      </ul>
                                    </li>
                                    <li>
                                      Diese Phase ist vergleichbar mit dem
                                      kleiner werdenden Kampffeld, aus dem
                                      BattleRoyale.
                                    </li>
                                  </ul>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <p><strong>&nbsp;</strong></p>
                  <p><strong>&nbsp;</strong></p>
                  <p>Mit freundlichen Grüßen</p>
                  <p>Someone0815</p>
                  <p><strong>&nbsp;</strong></p>
                  <a href="https://twitter.com/someone08152">Twitter</a>

                  <br />
                  <a href="https://discord.gg/DSrPGJj">Discord: Slawa#7818</a>
                </div>

                <!-- <ul> -->
                <!-- <li>Zuschauer Chat Integration (Wie zB TwitchPlaysPokemon)</li>
                  <li>Die ersten 7 Tage sind friedlich. (Chancen auf RP)</li>
                  <p>In dieser Zeit kommen die Roleplayer auf ihre kosten, indem sich die 100 Spieler "wahrscheinlich" in Fraktionen und Städte aufteilen. Sie können handeln, burgen bauen und sich Baumaterial sehr günstig erkaufen (Damit auch schöne sachen gebaut werden können in der kurzen friedens-phase). Die pvpler kommen nicht zu kurz, denn sie haben zeit sich  aufzubauen (7 Stunden).</p>
                  <li>Nach der RP-Zeit beginnt die Action (Chancen auf PVP)</li>
                  <p>In dieser Zeit kommen die Pvpler auf ihre kosten, indem am 8ten Tag zufällig 5 Spieler "Blutrünstig" (GMod Traitor-Style) werden. Das heißt, diese 5 werden fürs PVP freigeschaltet, können aber auch nur andere Blutrünstige töten. Mit jedem darauffolgendem Tag wird die Anzahl der Blutrünstigen Spieler verdoppelt, und irgendwann sind alle Freigeschaltet und kämpfen um ihre Fraktion.</p> -->

                <!-- <div class="spacer"></div>
                  <li>Die ersten 3 Tage/Stunden sind friedlich. RP (Vorbereitungsphase)</li>
                  <p>In dieser Phase sollen sich Freundschaften bilden. Fraktionen, kleine Städte. Diese sollen sich vorbereiten. Ihr eigenes Dorf, oder eine Burg bauen. Chancen für Roleplay ist gegeben, und bauen soll vereinfacht werden, indem man sich in einem Zentralen Dorf sich baustoffe erkaufen kann. (Damit auch schöne sachen gebaut werden können in dieser kurzen zeit). Der Tod hat in dieser Phase noch keine konsequenzen</p>
                  <div class="spacer"></div>
                  <li>Die Integration des PVPs. (Actionphase)</li>
                  <p>In dieser Phase (ab dem 4ten Tag) bekommen die Spieler Blutdurst. Am ersten Tag werden zufällig 5 Leute plötzlich "Blutrünstig". Das heißt Sie bekommen den Drang zu töten, um selber Überleben zu können. Denn um selber nicht auszuscheiden, müssen sie noch in der selben Folge einen anderen Blutrünstigen Teilnehmer töten. Können aber auch durch einen anderen Blutrünstigen sterben und somit aus dem Projekt ausscheiden.</p>
                  <div class="spacer"></div>
                  <li>Was hat das zur Folge?</li>
                  <p>Das hat zur folge, dass sich die Dörfer mobilisieren müssen. Um ihre Blutrünstigen Fraktions-mitspieler am leben zu erhalten, sind sie gezwungen mit den gegnerischen Dörfern in den Krieg zu ziehen. Die Blutrünstigen müssen die Blutrünstigen eliminieren. Die Spieler drum herum müssen sie Unterstützen. Denn die Nicht-Blutrünstigen haben <b>immernoch keine konsequenzen vom sterben</b> . Nur die Blutrüstigen. Und auch nur die Blutrünstigen untereinander <b> haben die konsequenz aus dem Projekt auszuscheiden wenn sie Sterben.</b></p>
                  <p>Es gibt jeden Tag mindestens 5+x Blutrünstige Spieler. Mit jedem Tag erhöhrt sich die anzahl von x. (1 Action Tag mindestens 5 Blutrünstige. 2 Action Tag 6 Blutrünstige. 3 Action Tag 7 Blutrünstige) Wenn am Vortag welche ausgeschieden sind, und es jetz nur noch zB 2 sind. Dann werden wieder zufällig mindetens 5+x Spieler Blutrünstig.</p> -->

                <!-- </ul> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
